<!-- {% extends "layout.html" %}
{% block body %}

    <h2>Incomplete Tasks</h2>
    {% for task in all_tasks %}
    {% if task["completed"] == False %}
        <p>
            Task ID: {{ task["id"] }}<br>
            Task Description: {{ task["description"] }}<br>
            <a href="{{ url_for('update_task', id=task.id) }}">Edit</a>
            <a href="{{ url_for('delete_task', id=task.id) }}">Delete</a>
            <a href="{{ url_for('complete_task', id=task.id) }}">Complete</a>
        </p>    
    {% endif %}
    {% endfor %}
    
    <h2>Completed Tasks</h2>
    {% for task in all_tasks %}
    {% if task["completed"] == True %}
        <p>
            Task ID: {{ task["id"] }}<br>
            Task Description: {{ task["description"] }}<br>
            <a href="{{ url_for('update_task', id=task.id) }}">Edit</a>
            <a href="{{ url_for('delete_task', id=task.id) }}">Delete</a>
            <a href="{{ url_for('incomplete_task', id=task.id) }}">Incomplete</a>
        </p>    
    {% endif %}
    {% endfor %}

{% endblock body %} -->
{% extends "layout.html" %}
{% block body %}
body>
		<div>
		<h3>
			<p align= "center">
    {% for team in teams %}  
    <table>
        <h2>{{ team"name"] }}</h2>
        <tr>
            <td><b>teamID</b></td>
            <td>{{ team["teamID"] }}</td> 
        </tr>
        <tr>
            <td><b>description</b></td>
            <td>{{ player"description"] }}</td> 
        
        </tr>
    </table>
    
    <h3>players of {{ team["name"] }}</h3>
    <table>
        <tr>
            <th>Name</th>
            <th>teamID</th>
        </tr>
        {% for Player in team ["players"] %}
        <tr>
            <td>{{ player["name"] }}</td> 
            <td>{{ player["description"] }}</td> 
        </tr>
        {% endfor %}
    </table>

    {% endfor %}
{% endblock body %}